<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>SimpleShop</title>
</head>
<body>
<form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<div>
<strong>{{errorMessage}}</strong>
    <strong></strong>
<div>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="text" name="photo" placeholder="Добавьте фото" >
        <input type="text" name="price" placeholder="Введите цену">
        <input type="text" name="name" placeholder="Введите имя">
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Список лотов</div>

<form method="post" action="filter">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <input type="text" name="filter" value={{filter}}>
    <button type="submit">Отфильтровать</button>
</form>
<form method="post" action="clear">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <button type="submit">Очистить</button>
</form>

{{#points}}
    <div>
        <b>{{id}}</b>
        <strong>{{photo}}</strong>
        <strong>{{price}}</strong>
        <strong>{{name}}</strong>

        <form method="post" action="order">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <input type="hidden" name="id" value="{{id}}">
            <button type="submit">Выбрать</button>
        </form>
    </div>
{{/points}}

<div>
    <form method="post" action="goToOrder">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Перейти к заказу</button>
    </form>
</div>

</body>
</html>