<html>
<body>
<div>
    <div>
        {{point.id}}
        {{point.name}}
        {{point.photo}}
        {{point.price}}
    </div>
    <form method="post" action="cancel">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Отменить</button>
    </form>
    <div>
        <strong>Номер кошелька для оплаты</strong>
        <strong>{{wallet}}</strong>
    </div>
</div>
</body>
</html>