<html>
<body>
<div>
    <div>
        {{point.id}}
        {{point.name}}
        {{point.photo}}
        {{point.price}}
    </div>
    <form method="post" action="cancel">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="hidden" name="id" value="{{point.id}}">
        <button type="submit">Отменить</button>
    </form>
    <form method="post" action="verify">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="text" name="code" placeholder="Введите код">
        <button type="submit">Проверить код</button>
    </form>
    <div>
        {{token}}
    </div>
</div>
</body>
</html>